html, body {
  margin: 0;
  padding: 0;
  height: inherit;
  min-height: 100%;
}

html {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.ui.menu {
  overflow-x: auto;
}

.SeriesList code.seriesId {
  font-size: 13px;
}

.lightLabel {
  text-transform: uppercase;
  font-size: 11px;
  color: #999;
}

code, pre {
  font-family: Roboto mono, monospace;
}

pre {
  font-size: 12px;
  line-height: 1.25;
}

pre.almostInvisible {
  color: #808080;
  font-size: 9px;
}
pre.almostInvisible:hover {
  color: #000;
}

a, .ui.breadcrumb a {
  color: #059;
}
